@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500;600;700;800&display=swap");
@import "tailwindcss";

@keyframes highlight {
  0% { width: 0%; }
  50% { width: 100%; }
  100% { width: 0%; }
}

body {
  font-family: 'Inter', sans-serif;
}
